<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Welcome! Visit my projects on github</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <div>
                <h2>Domain Driven Design</h2>
                <p>
                    This project shows a little of my technique, skills and also my knowledge in the world of
                    technology.
                    Various project patterns are applied in this project.
                </p>
                <a href="https://github.com/DeividyH/DHS" class="btn btn-primary"><i class="fas fa-eye"></i></a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h2>Angular 8 Front End Concepts</h2>
                <p>
                    This project aims to demonstrate a part of my technique in angular front-end development,
                    AUTHENTICATE, ROUTE GUEARD, ROUTING, MULTIPLE PAGES.
                </p>
                <a href="https://github.com/DeividyH/dhs-address" class="btn btn-primary"><i class="fas fa-eye"></i></a>

            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#tools"></use>
                </svg>
            </div>
            <div>
                <h2>Visit my linkedin profile</h2>
                <p>
                    Nice to meet you, my name is Deividy, full-stack developer,
                    want to know a little more? Visit my linkedin by clicking on the button below.
                </p>
                <a href="www.linkedin.com/in/deividy-henrique-58b544156" class="btn btn-primary"><i class="fas fa-eye"></i></a>

            </div>
        </div>
    </div>
</div>